<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <body>
        <form action="/" method="GET">
            <h1>You got the following questions correct:</h1>
            {% for question in answers.correctQuestions %}
            <div>
                <h2>{{ question.question }}</h2>
        
                <h3>The correctly answerered: {{ question.correct_answer }} </h3>
                
            </div>
            {% endfor %}
            <h1>----------------------------------------------</h1>
            <h1>You got the following questions correct:</h1>
            {% for question in answers.incorrectQuestions %}
            <div>
                <h2>{{ question.question }}</h2>
        
                <h3>- The correct answer is: {{ question.correct_answer }} </h3>
                
            </div>
            {% endfor %}
            <button type="submit">More Trivia!</button>
        </form>
    </body>
</html>